*{
    margin: 0;
    padding: 0;
}
main{
    color: rgb(235, 239, 243); 
    line-height: 1.5 ;
}
#welcome-section{
    background: url(./img/red\ key.jpg);
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    text-align: center;
}
.title{
    padding-top: 350px;
}
.title h1{
    font-size: 75px;
    font-family: 'Rancho', cursive;
    
}
.title p{
    font-size: 18px;
    color: rgb(230, 214, 144);
}
#about{
    background-color: rgb(20, 43, 43);
    min-height: 100vh;
    padding-bottom: 30px;
}
.aboutme{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    margin-top: 10px;
}
.underline{
    width: 140px;
    height: 2.2px;
    background-color: rgb(27, 190, 68);
    margin-bottom: 30px;

   
}
.heigh{
    padding-top: 70px;
    width: 70%;
   
}
.text{
    width: 70%;
    font-size: 17px;
}
.my-image{
    width: 100%;
    max-width: 260px;
    height: auto;
}
#about h1{
    font-family: 'Rancho', cursive;
    font-size: 60px;
}
#skill{
    min-height: 100vh;
    background:rgba(0,0,0,0.8) url("./img/pexels-ken-tomita-389818.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
#skill h1{
    font-family: 'Rancho', cursive;
    font-size: 75px;
}
.skill-dev{
   font-size: 40px;
   
}
.dev{
    display: flex;
    flex-direction: row;
}
.span{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 25px;
    font-size: 20px;
    max-width: 85%;
    
}
.tools{
    font-size: 20px;
    margin-left: 35px;
    margin-top: 25px;
}
.in{
    margin-top: 80px;
}
.head-icon{
    width: 100%;
    max-width: 120px;
    height: auto;
}
.icon{
    width: 100%;
    max-width: 90px;
    height: auto;
}
.lang{
    margin-right: 15px;
}
.project{
    background-color: rgb(20, 43, 43);
    min-height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;
}
.project h1{
    font-family: 'Rancho', cursive;
    font-size: 75px;
}
.project-link {
    text-align: center;
}
.project-link a{
    text-decoration: none;
    color: rgb(235, 239, 243); 
}
.project-link a:hover{
    text-decoration: underline;
    color: rgb(27, 190, 68);
}
.screenshot{
    width: 95%;
    position: relative;
    margin-top: 50px;   
}
.large-img{
    width: 70%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 75%);
}
.med-img{
    width: 40%;
    position: absolute;
    top: 18.5%;
    left: 50%;
    z-index: 2;
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 75%);
}
.small-img{
    width: 16%;
    z-index: 3;
    position: absolute;
    top: 27.7%;
    left: 84%;
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 75%);
}
.project-name{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90%;
    margin-top: 30px;
    justify-content:space-between;
    
}
.project-btn a{
   color: rgb(27, 190, 68); 
   text-decoration: none;
   border: 2px solid rgb(27, 190, 68);
   padding: 7px 10px;
   margin-right: 6px;
   border-radius:0.6ex;
   font-size: 15px;
   font-family: Gotham,Helvetica,Arial,sans-serif;
}
.project-btn a:hover{
    color: rgb(235, 239, 243);
    background-color: rgb(27, 190, 68); 
}
/*.med-img{
    width: 40%;
    right: 20%;
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 75%);
}
.small-img{
    width: 17%;
    right: 1rem;
    z-index: 3;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 75%);
    border: 0;
    position: absolute;
    bottom: 0;
    border-radius: 2px;
}

/*.project img:hover{
    border: rgb(27, 190, 68) 2px solid;
    opacity: 0.5;
}*/
@media(min-width: 992px){
    .my-image{
        float:right;
        margin-top: -40px;
    }
}
@media(max-width: 765px){
    #about{
        padding-left: 15px;
        padding-right: 15px;
    }
    .heigh{
        width:100%;

    }
    .underline{ 
        margin-bottom: 40px ;
    }
    .my-image{
        margin-bottom: 30px;
    }
    .text{ 
        width: 100%;
        text-align: left;
    }
    #skill{
        padding-left: 15px;
    }
    .dev{
        flex-direction: column;
    }
    .span{
        max-width: 100%;
        margin-left: 12px;
        font-size: 18px;
    }
    .skill-dev{
        margin-left: 10px;
        font-size: 30px;
    }
    .tools{
        margin-left: 12px;
    }
    .lang{
        margin-right: 08px;
    }
    .project-name{
        flex-direction: column;  
    }
}

