*{
    margin: 0;
    padding: 0;
}
img{
    width: 200px;
    margin-left: 10%; 
}
#welcome-section{
    background: url("./img/red\ key.jpg");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    background-attachment: fixed;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}
#welcome-section p{
    background-color: darkolivegreen;
    width: 150px;
    font-weight: lighter;
}
.hello{
    margin-left: 350px;
    position: absolute;
    
}
