*{
    margin: 0;
    padding: 0;
}
#welcome-section{
    background: url("./img/red\ key.jpg");
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    background-attachment: fixed;
    color: beige;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    padding-top: 350px;
}
#about{
    background-color: rgb(25, 46, 46);
    min-height: 100vh;
    color: beige;
    padding-top: 10%;
}

